/* removing browser all default styling */
*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
}
/*  variables for colors and gradients */
:root{
    --color-dark-white:#ecf0f2;
    --color-light-white:#fafbfc;
    --color-green:#2cd581;
    --color-black:#0c102c;
    --color-red:rgba(255, 0, 0,0.8);
    --color-light-black:rgba(77, 80, 83,0.9);
    /* containers box shadow */
    --box-shadow:rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
/* Defining html font size for responsive font-sizes and easy handling of px across all dveices */
html{
    /* 1rem = 16px = 100 ,1 rem = 10px = 62.5% */
    font-size: 62.5%; 
}
@media screen and (max-width:1200px){
    html{
        /*Below 1200px 1 rem = 9px */
        font-size:56.25%;
    }
}
@media screen and (max-width:900px){
    html{
        /*Below 900px 1 rem = 8px */
        font-size:50%;
    }
}

body{
    background-color:var(--color-dark-white);
    /* system fonts */
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* some common styling  */
h1{
    font-size:3.8rem;
    font-weight:700;  
 }
 h2{
     letter-spacing: 2px;
     font-size:3rem;
     font-weight:600;
     color:var(--color-black);
 }
 h3{
     letter-spacing: 1px;
     font-weight:400;
     font-size:2rem;
     color:#0c102c;
 }
 h4{
     letter-spacing: 1px;
     font-weight:400;
     font-size:1.8rem;
     color:rgba(77, 80, 83,0.9);
 }
 h5{
    font-size:1.4rem;
    font-weight:400;
    color:var(--color-black);
 }
 /* defining flex properties for quick use */
.flex{
    display: flex;
    align-items: center;
}
.center{
    justify-content: center;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.space-evenly{
    justify-content: space-evenly;
}
.align-center{
    align-items: center;
}
.flex-col{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
 /* icons size*/
 .small-icon{
    font-size:2rem;
 }
 .medium-icon{
    font-size:3.5rem;
}
 .large-icon{
    font-size:4.5rem;
 }
/* icons color */
.green{
    color:var(--color-green);
}
.red{
    color:var(--color-red);
}
.black{
    color:var(--color-light-black);
}
.dark{
    color:var(--color-black)
}
a{
    text-decoration:none;
}
.pointer{
    cursor:pointer;
}
/* like icon */
.like{
    margin-left:1.6rem;
}
.right{
    margin-right: 1rem;
}
/* scaled up effect */
.scaled:hover{
    transform:scale(1.05);
    transition: .2s;
    cursor: pointer;
}
.link:hover{
    color:var(--color-red);
    transition: 0.5s;
}
/* show-all button style */
.show-more{
    width:100%;
    padding:0.6rem 0;
    cursor: pointer; 
}
.show-more h5{
    color:var(--color-light-black);
    font-weight: 700;
    font-size:1.7rem;
    margin-right: 0.7rem;
}
 
/* Header section styles */
.container{
    padding:2rem;
    background-color: var(--color-light-white);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position:relative;
}
.brand div{
    display: inline-block;
}
.brand-name{
    background: -webkit-linear-gradient(#20BF55, #01BAEF);
    /* for chrome support webkit included removing this text wont show on chrome browser */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1.5px;
    margin-left:10px;   
}
.brand-icon i{
     animation: tilt 1s ease-in-out infinite alternate;  
     color:rgba(0,0,0,0.7);
}
/* headphone animation */
@keyframes tilt {
    from{
        transform: rotate(25deg);
    }
    to{
        transform:rotate(-25deg)
    }
}
/* search bar */
.search{
    border:2px solid var(--color-green);
    background-color: var(--dark-white);
    border-radius:30px;
    height:4.5rem;
    width:35rem;
}
.search input{
    width:22rem;
    font-size:1.5rem;
    outline: none;
    border: none;
    background-color: var(--dark-white);
}
/* user section */
.user-img{
    height:4rem;
    width:4rem;
    margin-left: 2.5rem;
}
.user-img img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: 50%;
}
.notification{
    position:relative;
    z-index:0;
    margin-left:2.5rem;
}
/* notifications effect */
.red-dot{
    height:8px;
    width:8px;
    background-color: var(--color-red);
    position: absolute;
    border-radius:50%;
    right:0;
    top:3px;
    z-index:1;
}
/* mobile search bar */
.mobile-search-container{
    padding:2rem;
    width:100%;
    background-color: var(--color-light-white);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px ;
}
/* mobile menu content styles */
.menu-icon{
    color:var(--color-green);
}
.mobile-menu{
    height:300px;
    width:300px;
    background-color: var(--color-light-white);
    position:absolute;
    top:0;
    right:0;
    padding:20px 30px;
    z-index:3;
}
.option{
    margin-top:20px;
    border-bottom: 2px solid var(--color-green);
}
.option div{
    display: inline-block;
    margin-left: 20px;
}
/* functionality for menu open and close */
#menu-show{
    display:none;  
}
#menu-show:target{
    display:block;
}
/* functionalities trigger at respective width  */
/* desktop user section disappear */
@media screen and (max-width:500px){
    .user{
        display:none;
    }
}
/* desktop menu-icon disappears */
@media screen and (min-width:500px){
    .menu-icon{
        display:none;
    }
}
/* desktop search bar disappears  */
@media screen and (max-width:650px){
    .desktop-search-container{
        display:none;
    }
    .container{
        box-shadow:none;
    }
}
/* desktop search bar appears  */
@media screen and (min-width:650px){
    .mobile-search-container{
        display:none;
    }    
}
/* playlist styles */
.playlist-container{
    width:30%;
    position:absolute;
    top:11rem;
    right:0;
    margin-right:1rem;
    height:67.5rem;
    padding:1rem;
    background-color: var(--color-light-white);
    box-shadow:var(--box-shadow);
}
.playlist{
    height:85%;
    /* on overflow only horizontal scroll */
    overflow-y: scroll;
}
.playlist-head{
    margin-bottom:2.5rem;  
    position: relative;
}
.song-container{
    padding:1%;
    width:95%;
    margin:0 auto;
    margin-bottom: 0.8rem;
    background-color: var(--color-dark-white);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.song-img{
    height:7rem;
    width:7rem;
    border:2px solid var(--color-green);
    margin-right:1.7rem;
}
.song-img img{
    height:100%;
    width:100%;
    background-size:contain;
    background-position: center;
}
/* popup for playlist icon */
.popup{
    height:200px;
    width:200px;
    padding:5%;
    position: absolute;
    top:0rem;
    right:4rem;
    background-color: var(--color-light-white);
    border:1px solid var(--color-black);
    /* high z-index so wont be overlapped by songs in the play list */
    z-index:20;
}
/* trigger popup box by using target selector*/
#playlist-pop{
    display: none;
}
#playlist-pop:target{
    display:block;
}
/* playlist Rotating cd animation */
.cd{
    animation:rotate 1s ease-in-out infinite alternate ;
    font-size:3rem;
    margin-left: 1rem;
}
@keyframes rotate {
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    } 
}

/* carousel style */

.carousel-container{
    width:65%;
    margin-left: 2.5%;
    margin-top: 4rem;
    position:relative;
    height:25rem;
}
/* left and right banner */
.banner{
    width:45%;  
    box-shadow: rgba(0, 0, 0, 0.4) 0px 35px 35px -7px; 
}
.banner img{
    height:100%;
    width:100%;
    background-size: cover;  
}
.banner:hover{
    z-index:2;
    transition:0.5s;
    transform:translateY(-2.5rem) scale(1.1);
}
/* center banner */
.center-banner{
    width:45%; 
    /* it is positione daccording to carousel container */
    position:absolute;
    top:30%;
    left:30%;
    /* z-index low so on hovering left and right image wont be affected*/
    z-index:0;
}
.center-banner img{
    height:100%;
    width:100%;
    background-size: cover;  
}
@media screen and (max-width:800px){
    .carousel-container{
        max-width:95%;
        margin:0 auto;
    }
}
@media screen and (max-width:820px){
    /* playlist for mobile */
    .playlist-container{
        /* sets the element to its default style */
        position: initial;
        width:95%;
        height:40rem;
        margin:2rem auto;
        padding-bottom:2.5rem;
    }
    .carousel-container{
        width:95%;
        height:30rem;
        display: flex;
    }
}
/* Desktop carousel disappear for below 600px */
@media screen and (max-width:600px){
    .carousel-container{
        display:none;
    }
}
/* Mobile carousel with different animation on below 600px */
@media screen and (min-width:600px){
    .mobile-carousel{
        display:none;
    }
}
.mob-car-holder{
    width:95%;
    height:43rem;
    margin-top: 2rem;
    background-image: url(../images/carousel/banner-1.webp);
    /* horizontally and vertically center image */
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: reveal 7s  infinite ;
}
@media screen and (max-width:450px){
    .mob-car-holder{
        height:30rem;
    }
}
/* Reveal animation on mobile devices 
    different background image at diefferent interval
*/
@keyframes reveal{
    25%{
        background-image: url(../images/carousel/banner-2.webp);
    }
    50%{
        background-image: url(../images/carousel/banner-3.webp);
    }
    100%{
        background-image: url(../images/carousel/banner-1.webp);
    }
}

/* trending-conatiner styles */

.trending-container{
    width:65%;
    padding:1%;
    margin-left: 2.5%;
    height:33rem;
    margin-top:6.5rem;
    background-color: var(--color-light-white);
    box-shadow:var(--box-shadow);
}
/* sparkle animation on trending section*/
.sparkle{
    margin-left:1rem;
    animation:sparkle 1s ease-in-out infinite alternate ;
}
@keyframes sparkle{
    from{
        transform:translateY(8px) scale(1);
    }
    to{
        transform: translateY(-5px) scale(1.1);
    }
}

.trending-song-container{
    width:47.5%;
    padding:1%;
}
.trending-song-container{
    margin-bottom: 1.2rem;
}

/* media query for responsive trending section */
@media screen and (max-width:500px){
    .trending-container{
        width:95%;
        height:auto;
        margin:0 auto;
    }
    .trending-song-container{
        width:95%;
    }
}
@media screen and (max-width:820px){
    .trending-container{
        width:95%;
        margin:0 auto;
    }
}
 /* image hover effect to trigger play bar */

 .hover-play-box{
    opacity:0;
 }
 /* hover icon on trending songs */
 @media screen and (min-width:700px){
     .song-img{
         position: relative;
     }
     .hover-play-box{
         position: absolute;
         top:0%;
         left:0%;
         height:100%;
         width:100%;
         color:#fff;
         opacity:0;
     }
     .hover-play-box:hover {
         opacity:1;
     }
     .hover-play{
         color:var(--color-light-white)
     }
 }
/* play-bar styles for desktop and mobile*/
.playbar-container{
    width:100%;
    padding:1rem ;
    background-color: #fff;
    margin-top:50px;
    position:fixed;
    bottom:0;
    display: none;
    /* highest z-index so it wont be affected by any other element */
    z-index:99;
}
.playbar-song{
    width:23%;
}
.song-controls{
    width:40%;
    height:7rem;
}
.controls > i{
    margin-left: 1rem;
}
.range{
    width:30rem;
}
.range input{
    margin:0 1rem;
    width:70%;
}
.volume{
    width:13rem;
    height:7rem;
}
.volume input{
    width:10rem;
}
.user-function{
    height:6rem;
    margin-right: 1.3rem;
}
#playbar-pop:target{
    display:block;
}
/* on mobile some playbar features disappear */
@media screen and (max-width:700px){
    .playbar-like{
        display:none;
    }
    .volume{
        display:none;
    }
    .play-bar-song-img{
        display:none;
    }
    .playbar-song{
        width:25%;  
    }
    .song-controls{
        width:40%;
    }
    .user-function{
        width:20%;
    }

    .range input{
        width:50%;
    }
    .range{
        width:100%;  
    }
}

/* song pop up icon functions */

.song-pop-up{
    height:130px;
    width:200px;
    padding:10px;
   background-color: var(--color-light-white);
   border:1px solid var(--color-black);
}
.song-pop-up h4{
    margin-top:10px;
    color:var(--color-black);
    border-bottom:2px solid var(--color-green);
}
.trending-song-container{
    position:relative;
}
.song-pop-up{
    position: absolute;
    bottom:10%; 
    right:10%;
    z-index:1;
}
/* open popup for individual song */
/* 1 song pop */
#trend-song-pop-1{
    display:none;
}
#trend-song-pop-1:target{
    display: block;
}
/* 2 song pop */
#trend-song-pop-2{
    display:none;
}
#trend-song-pop-2:target{
    display: block;
}
/* 3 song pop */
#trend-song-pop-3{
    display:none;
}
#trend-song-pop-3:target{
    display: block;
}
/* 4 song pop */
#trend-song-pop-4{
    display:none;
}
#trend-song-pop-4:target{
    display: block;
}

/* Popular artist section styles */

.artist-container{
    width:95%;
    margin:2rem 2.5%;
    padding:2rem;
    border-radius:3rem;
    background-color: var(--color-green);
    box-shadow:var(--box-shadow);
}
.artist-group{
    margin-top:2rem;
    padding: 1.5rem; 
}
.artist-head h2{
    color:var(--color-light-white);
    font-weight: 700;
}
.artist h3{
    font-weight: 600;
    color:var(--color-light-white);
}
.artist{
    margin-right:1.5rem;
   padding:1rem;   
}
.artist-img{
    height:12rem;
    width:12rem;
    border-radius: 50%;
    background-size:cover;
    transition:1s;
}
/* artist-img hover effect */
.artist-img:hover{
    border-radius:0;
}
/* stations section styles */

.station-container{
    width:95%;
    margin:2rem 2.5%;
    padding:2rem;
    box-shadow:var(--box-shadow);
    background-color: var(--color-light-white);
}
.station-head h2{
    color:var(--color-black);
}
.station-group{
    padding:1.5rem;
}
.flex-end{
    justify-content:flex-end;
}
.station{
    margin-right:1.5rem;
    margin-bottom:2rem;
}
.station-holder{
    height:14rem;
    width:14rem;
    border-radius:50%;
}
.station img{
    height:12rem;
    width:12rem;
    border-radius:50%;
    background-size: cover;
    cursor:pointer;
}
/* station img effect */
.station img:hover{
    height:13rem;
    width:13rem;
    transition:0.5s ;
    opacity:0.8;
}
.station h3{
    font-weight: 700;
    color:var(--color-black);
}
/* color gradients for different station */
.station-holder-1{
    background-color: #ff4e00;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}
.station-holder-2{
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}
.station-holder-3{
    background-color: #f977ce;
    background-image: linear-gradient(315deg, #f977ce 0%, #c373f2 74%);
}
.station-holder-4{
    background-color: #5b6467;
    background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}
.station-holder-5{
    background-color: #00b712;
    background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
}
.station-holder-6{
    background-color: #20bf55;
    background-image:linear-gradient(315deg, #20bf55 0%, #01baef 74%);
}

/*  Mood cards styles*/

.cards-container{
    width:95%;
    margin:2rem 2.5%;
}
.card{
    height:25rem;
    width:40rem;
    /* overflow hidden for zoom effect scaled image will not overflow of container */
    overflow: hidden;
    margin-bottom:2.5rem;
    border-radius: 2rem;
}
.card-holder{
    height:100%;
    width:100%;
    /* relative because of text positioning */
    position: relative;
    background-image:linear-gradient(to right,  rgba(0, 51, 204,0.4),  rgba(0, 51, 204,0.4)),  url(../images/mood-cards/card-1.jpg);
    background-size: cover;
    background-position: center;
    transition:0.8s;
}
/*  positioning text on image*/
.card-holder h2{
    color:var(--color-light-white);
    position: absolute;
    top:40%;
    left:35%;
}
/* 2nd image */
.card-2{
    background-image:linear-gradient(to right,  rgba(153, 0, 204,0.4),  rgba(153, 0, 204,0.4)),  url(../images/mood-cards/card-2.avif);
}
/* 3rd image */
.card-3{
    background-image:linear-gradient(to right,  rgba(0,0,0,0.4),  rgba(0,0,0,0.4)),  url(../images/mood-cards/card-3.avif);
}
/* scaled image */
.card-holder:hover{
    transform: scale(1.25); 
}
/* responsiveness for mood cards */
@media screen and (max-width:650px){
    .card{
        height:20rem;
        width:100%;
    }
}
/* popular section style for both hindi and english*/
.popular-song img{
    height:12rem;
    width:12rem;
    border-radius:1.5rem;
}
.popular-song{
    margin-bottom: 1.5rem;
    cursor:pointer;
}
.popular-song :hover{
    opacity:0.65;
    transition: 0.4s;
}

/* footer styles */

.footer-container{
    width:95%;
    margin:2rem 2.5%;
    background-color: var(--color-light-white);
    box-shadow:var(--box-shadow);
}
.footer-head{
    background: -webkit-linear-gradient(#20BF55, #01BAEF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1.5px;
    text-align: center;
}
.footer-group{
    padding: 1rem;
    margin:3rem 0 0 2rem;
    
}
.links-group{
    width:100%;
    margin-top:1.5rem;
}
.footer-image{
    height:35rem;
    width:35rem;
    margin-bottom: 1.5rem;
    animation: dance 1s ease-in-out infinite alternate; 
}
.footer-image img{
    height:100%;
    width:100%;
}
/* footer section animation */
@keyframes dance{
    from{
        transform: translateY( 10px);
    }
    to{
        transform: translateY(-10px);
    }
}


/*  Happy Ending!*/
